<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Resources</h4>
                <ul>
                    <li><a href="#">Udemy</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Resources</h4>
                <ul>
                    <li><a href="#">Udemy</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Resources</h4>
                <ul>
                    <li><a href="#">Udemy</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Socials</h4>
                <div class="social-links">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <p>Copyright © <%= new Date().getFullYear() %></p>
</footer>
</body>
</html>